<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TODO Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
</head>
<body>
  <h1>TODO Application</h1>
  <div>User: <span th:text="${user.getEmail()}"></span></div>

  <h2>Add Todo</h2>
  <form th:action="@{/addTodo}" method="post">
    <input type="text" name="title" placeholder="Title" />
    <input type="hidden" name="email" th:value="${user.getEmail()}" />
    <input type="submit" value="Add" />
  </form>

  <h2>Todo List</h2>
  <th:block th:each="todo : ${todos}">
    <div>
      <span
        class="todo-title"
        th:text="${todo.getTitle()}"
        th:classappend="${todo.done} ? 'done' : 'open'"></span>
      <form
        th:action="@{/updateTodo}"
        method="post"
        class="done-button"
        th:classappend="${todo.done} ? 'done' : 'open'">
        <input type="hidden" name="id" th:value="${todo.getId()}" />
        <input type="hidden" name="done" th:value="true" />
        <input type="hidden" name="page" th:value="${page}" />
        <input type="hidden" name="size" th:value="${size}" />
        <input type="submit" th:value="Done" />
      </form>
      <form
        th:action="@{/updateTodo}"
        method="post"
        class="reopen-button"
        th:classappend="${todo.done} ? 'done' : 'open'">
        <input type="hidden" name="id" th:value="${todo.getId()}" />
        <input type="hidden" name="done" th:value="false" />
        <input type="hidden" name="page" th:value="${page}" />
        <input type="hidden" name="size" th:value="${size}" />
        <input type="submit" th:value="Reopen" />
      </form>
      <form th:action="@{/deleteTodo}" method="post" class="delete-button">
        <input type="hidden" name="id" th:value="${todo.getId()}" />
        <input type="hidden" name="page" th:value="${page}" />
        <input type="hidden" name="size" th:value="${size}" />
        <input type="submit" th:value="Delete" />
      </form>
    </div>
  </th:block>

  <h2>Test</h2>
  <a href="hello">hello</a>
</body>
</html>

