<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{todo.application-name}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
</head>
<body>
  <h1 th:text="#{todo.application-name}"></h1>
  <div><span th:text="#{todo.user}"></span>:<span th:text="${user.getEmail()}"></span></div>

  <h2 th:text="#{todo.add-todo}"></h2>
  <form th:action="@{/addTodo}" method="post">
    <input type="text" name="title" th:placeholder="#{todo.title}" />
    <input type="hidden" name="email" th:value="${user.getEmail()}" />
    <input type="submit" th:value="#{todo.add}" />
  </form>
  <div th:if="${validationError != ''}" class="error-message" th:text="${validationError}">
  </div>

  <h2 th:text="#{todo.todo-list}"></h2>
  <a th:href="@{/(size=${size}, page=${page - 1})}">&lt;</a>
  <a th:href="@{/(size=${size}, page=${page + 1})}">&gt;</a>
  <th:block th:each="todo : ${todos}">
    <div>
      <span
        class="todo-title"
        th:text="${todo.getTitle()}"
        th:classappend="${todo.done} ? 'done' : 'open'"></span>
      <form
        th:action="@{/updateTodo}"
        method="post"
        class="done-button"
        th:classappend="${todo.done} ? 'done' : 'open'">
        <input type="hidden" name="id" th:value="${todo.getId()}" />
        <input type="hidden" name="done" th:value="true" />
        <input type="hidden" name="page" th:value="${page}" />
        <input type="hidden" name="size" th:value="${size}" />
        <input type="submit" th:value="#{todo.done}" />
      </form>
      <form
        th:action="@{/updateTodo}"
        method="post"
        class="reopen-button"
        th:classappend="${todo.done} ? 'done' : 'open'">
        <input type="hidden" name="id" th:value="${todo.getId()}" />
        <input type="hidden" name="done" th:value="false" />
        <input type="hidden" name="page" th:value="${page}" />
        <input type="hidden" name="size" th:value="${size}" />
        <input type="submit" th:value="#{todo.reopen}" />
      </form>
      <form th:action="@{/deleteTodo}" method="post" class="delete-button">
        <input type="hidden" name="id" th:value="${todo.getId()}" />
        <input type="hidden" name="page" th:value="${page}" />
        <input type="hidden" name="size" th:value="${size}" />
        <input type="submit" th:value="#{todo.delete}" />
      </form>
    </div>
  </th:block>
</body>
</html>

